<div class="homeView">
    <a href="#!/email"><div class="btn btn-default email">Email Link</div></a>
    <h1>Universal Studios Fitness Center Sign-Up</h1>
    <div class="btn-container">
	    <a href="http://www.clubready.com/present/3165NKWSJR/0/0/" ><img class="imgBtn" src="/img/member.png"></a> <!-- Member Enrollment -->
        <a href="http://www.clubready.com/present/4489PSSWLR/0/0/" ><img class="imgBtn" src="/img/group.png"></a> <!-- Group Exercise -->
        <a href="http://www.clubready.com/present/3253ERNJHE/0/0/" ><img class="imgBtn" src="/img/promo.png"></a> <!-- Promo -->
        <a href="http://www.clubready.com/present/3198CHJVDY/0/0/" ><img class="imgBtn" src="/img/bike.png"></a> <!-- Bike to Work -->
        <!--<a href="http://www.clubready.com/present/3130CNGPPH/0/0/" ><img class="imgBtn" src="/img/tour.png"></a> <!-- Facility Tour -->
       <!-- <a href="http://www.clubready.com/present/3141KAMNVM/0/0/" ><img class="imgBtn" src="/img/pt.png"></a> <!-- Personal Training -->
		
        
        
    </div>
    <h3 class="correct" style="color:green" ng-if="!NoError"><span class="message">{{errorMessage}}</span></h3>
    
</div>

